.btn-site-outline {
    border: 2px solid #589c1c;
    color: #589c1c;
}

.btn-site-outline:hover {
    border: 2px solid #589c1c;
    color: #FFFFFF;
    background: #589c1c;
}

.btn-site-primary {
    border: 2px solid #589c1c;
    color: #FFFFFF;
    background: #589c1c;
    width: 100%;
    border-radius: 1rem;
}

.btn-site-primary:hover {
    color: #589c1c;
    border: 2px solid #589c1c;
}

.text-site-primary {
    color: #589c1c
}

.site-btn:focus {
    outline: 2px solid #589c1c;
    box-shadow: unset;
    border-color: white;
}

.site-primary-radius {
    border-radius: 1rem !important;
}

.login-form {
    padding-top: 2rem;
    width: 100%; 
    max-width: 500px;
}

.site-primary-link {
    color: #589c1c;
    text-decoration: none;
}

.site-primary-link:hover {
    color: #376d08;
    text-decoration: underline;
}

.create-account-tile {
    width: 100%;
    max-width: 180px;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
    text-align: center;
    border-radius: 1rem;
    background: #d0fcaf;
    cursor: pointer;
    transition: 0.5s;
}

.create-account-tile:hover {
    background: #9de75d;
}

.create-account-tile:hover i,
.create-account-tile:hover h5 {
    color: #376d08;
}

.create-account-tile-icon {
    font-size: 5rem;
}

.choose-account-label-container {
    width: 100%;
    max-width: 500px;
}

@media screen and (max-width: 767px) {
    .input-margin-top {
        margin-top: 1.5rem!important;
        display: block;
    }
}
/* pwise.reybandal.com
mail.pwise.reybandal.com
admin@pwise.reybandal.com
u-sHJE7CFA05